/*
* Css Colors
* Tokyo Night Theme
*/
@define-color blur_background rgba(26, 27, 38, 0.3);
@define-color blur_background8 rgba(26, 27, 38, 0.8);

    @define-color background #1a1b26;

    /* Waybar specific aliases */
    @define-color backgroundlight rgba(36, 40, 59, 0.8);
    @define-color backgrounddark rgba(26, 27, 38, 0.8);
    @define-color workspacesbackground1 transparent;
    @define-color workspacesbackground2 rgba(36, 40, 59, 0.8);
    @define-color bordercolor #414868;
    @define-color textcolor1 #c0caf5;
    @define-color textcolor2 #a9b1d6;
    @define-color textcolor3 #1a1b26;
    @define-color iconcolor #7aa2f7;

    @define-color error #f7768e;

    @define-color error_container #8c4351;

    @define-color inverse_on_surface #1a1b26;

    @define-color inverse_primary #7aa2f7;

    @define-color inverse_surface #c0caf5;

    @define-color on_background #c0caf5;

    @define-color on_error #1a1b26;

    @define-color on_error_container #f7768e;

    @define-color on_primary #1a1b26;

    @define-color on_primary_container #7aa2f7;

    @define-color on_primary_fixed #1a1b26;

    @define-color on_primary_fixed_variant #3d59a1;

    @define-color on_secondary #1a1b26;

    @define-color on_secondary_container #bb9af7;

    @define-color on_secondary_fixed #1a1b26;

    @define-color on_secondary_fixed_variant #9d7cd8;

    @define-color on_surface #c0caf5;

    @define-color on_surface_variant #a9b1d6;

    @define-color on_tertiary #1a1b26;

    @define-color on_tertiary_container #9ece6a;

    @define-color on_tertiary_fixed #1a1b26;

    @define-color on_tertiary_fixed_variant #73daca;

    @define-color outline #565f89;

    @define-color outline_variant #414868;

    @define-color primary #7aa2f7;

    @define-color primary_container #3d59a1;

    @define-color primary_fixed #7aa2f7;

    @define-color primary_fixed_dim #7dcfff;

    @define-color scrim #000000;

    @define-color secondary #bb9af7;

    @define-color secondary_container #9d7cd8;

    @define-color secondary_fixed #bb9af7;

    @define-color secondary_fixed_dim #9d7cd8;

    @define-color shadow #000000;

    @define-color source_color #7aa2f7;

    @define-color surface #1a1b26;

    @define-color surface_bright #24283b;

    @define-color surface_container #1f2335;

    @define-color surface_container_high #24283b;

    @define-color surface_container_highest #292e42;

    @define-color surface_container_low #1a1b26;

    @define-color surface_container_lowest #16161e;

    @define-color surface_dim #1a1b26;

    @define-color surface_tint #7aa2f7;

    @define-color surface_variant #24283b;

    @define-color tertiary #9ece6a;

    @define-color tertiary_container #73daca;

    @define-color tertiary_fixed #9ece6a;

    @define-color tertiary_fixed_dim #73daca;
