
@define-color background #1a1b26;
@define-color foreground white;
@define-color background_hover #7aa2f7;
@define-color foreground_hover white;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  transition: all 0.3s ease;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}


#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}


#workspaces button:hover {
    background: #292e42;
    color: white;
    /* box-shadow: 0 0 8px rgba(122, 162, 247, 0.4); */
}

#cpu,
#battery,
#pulseaudio,
#custom-screenrecording-indicator {
  min-width: 12px;
  margin: 0 7.5px;
}

#battery {
  margin-right: 15px;
}

#pulseaudio {
  margin-right: 15px;
}

#power-profiles-daemon {
  margin-right: 5px;
}

#tray {
  /* margin-right: 16px; */
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#backlight {
  margin-right: 10px;
}

#tools {
    background-color: transparent;
    border-radius: 8px;
    margin: 2px 0px 2px 0px;
    padding: 2px 6px;
    opacity: 0.8;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-appmenu {
    background: @background;
    color: @foreground;
    padding: 0 12px;
    margin: 0 4px;
    /* border-radius: 8px; */
    font-size: 1.15em;
    font-weight: 600;
    min-width: 20px;
    transition: all 0.2s ease;
    margin-right: 15px;
}

#custom-appmenu:hover {
    background: #292e42;
    color: white;
    /* box-shadow: 0 0 8px rgba(122, 162, 247, 0.4); */
}

#custom-appmenu:active {
    background: #3b4261;
    color: #9ece6a;
}
